body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}



table {
    border: 2px solid black;
    border-collapse: collapse;
    
}

th {
    padding: 10px;
    background-color: rgb(193, 192, 192);
    border-right: 2px solid black;
}

tr {
    border-bottom: 2px solid black;
}

#cor1 {
    background-color: rgb(174, 250, 117);
}

#cor2 {
    background-color: rgb(124, 124, 124);
}

#time {
    border-right: 2px solid black;
}

