
h1 {
    text-align: center;
    font-family: Arial;
}

/*Configuração dos blocos*/

.blocos {
    font-family: Arial;
    background-color: khaki;
    border: 4px solid black;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}




.blocos-2 {
    font-family: Arial;
    color: white;
    background-color: rgb(32, 123, 233);
    border: 4px solid rgb(250, 255, 147);
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;

} 

.blocos-3 {
    font-family: Arial;
    color: rgb(1, 17, 105);
    background-color: rgb(125, 179, 246);
    border: 4px solid rgb(50, 77, 253);
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;

} 

.blocos-4 {
    font-family: 'Courier New';
    background-color: white;
    border: 4px solid black;
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;

} 

  
