* {
    font-family: Arial;
    background-color: rgb(255, 228, 196);
}

h1 {
    text-align: center;
    color: brown;
    font-size: 70px;
    text-decoration: underline;
}

h2 {
    text-align: left;
    color:chocolate;

}

/*adicionei classes para ser mais diversicado*/

.paragrafo-1{
    color:maroon;
    text-align: justify;
    font-weight: bold;

}

.paragrafo-2{
    color:salmon;
    text-align: right;
    font-size: 25px;
    font-weight: bold;
}