body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    height: 100px;
    width: 100px;
}

table {
    border: 5px solid black;
    border-collapse: collapse;
    box-shadow: 5px 5px 4px grey;
    width: 400px;

}

th {
    border-bottom: 10px solid black;
}

