body {
    background-color: black;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.container2 {
  display: flex;
  justify-content: center; 
}

.container3 {
  display: flex;
  justify-content: end;
}

.item {
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 5px;

}

.item2 {
    height: 200px;
    width: 200px;
    background-color: rgb(0, 0, 255);
    color: white;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 5px;

}

.item3 {
    height: 200px;
    width: 200px;
    background-color: rgb(0, 255, 0);
    color: white;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 5px;

}

.item4 {
    height: 200px;
    width: 200px;
    background-color: rgb(255, 251, 0);
    color: white;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 5px;

}

 .numero p{  
    text-align: center;

 }

/*vertical*/
 .cubos1 {
    display: flex;
    justify-content: flex-start;
    
}

 .cubos2 {
    display: flex;
    justify-content: center;

}

.cubos2_q {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

 .cubos2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
 .cubos3 {
    display: flex;
    justify-content: end;

}

/*horizontal*/
 .cubos4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.cubos5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cubos6 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


