body{
    font-family: Arial;
    text-align: center; 
}

table {
   border: solid black;
   border-collapse: collapse;
   width: 400px;
   box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

th {
    background-color: rgb(135, 141, 255);
}

#cor1 {
    border: none;
    background-color: rgb(99, 245, 191);
}

#cor2 {
    background-color: rgb(166, 251, 223);
}

#cor1,#cor2,.linha-meio,th{
    border-left: 3px solid rgb(0, 8, 5);
}